{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit {{ title }}</h1>
    
    <form action=/edit/{{title}} method="post">
        {% csrf_token %}
        <div class="relative">
            <input type="hidden" name="title" value="{{title}}">
            <div class="label_markdown">
                {{ markdown.markdown.label }}:
            </div>
            <div class="input_markdown">
                {{ markdown.markdown }}
            </div>
        </div>
        <!-- Click "Save" to save the new page. -->
        <input type="submit" value="Save">
    </form>

{% endblock %}